<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.agilesumo.runjogwalk"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.agilesumo.runjogwalk.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.agilesumo.runjogwalk.AddRunActivity"
            android:label="@string/title_activity_add_run"
            android:parentActivityName="com.agilesumo.runjogwalk.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.agilesumo.runjogwalk.MainActivity" />

        </activity>
        
        <activity
            android:name="com.agilesumo.runjogwalk.WorkoutActivity"
            android:label="@string/title_activity_workout"
            android:parentActivityName="com.agilesumo.runjogwalk.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.agilesumo.runjogwalk.MainActivity" />

        </activity>
        
        
        <activity
            android:name="com.agilesumo.runjogwalk.AddJogActivity"
            android:label="@string/title_activity_add_jog"
            android:parentActivityName="com.agilesumo.runjogwalk.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.agilesumo.runjogwalk.MainActivity" />

        </activity>
        
         <activity
            android:name="com.agilesumo.runjogwalk.AddWalkActivity"
            android:label="@string/title_activity_add_walk"
            android:parentActivityName="com.agilesumo.runjogwalk.MainActivity" 
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.agilesumo.runjogwalk.MainActivity" />

        </activity>
        
        <activity
            android:name="com.agilesumo.runjogwalk.EditRunActivity"
            android:label="@string/title_activity_edit_run"
            android:parentActivityName="com.agilesumo.runjogwalk.WorkoutActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.agilesumo.runjogwalk.WorkoutActivity" />
        </activity>
            
            
        <activity
            android:name="com.agilesumo.runjogwalk.EditJogActivity"
            android:label="@string/title_activity_edit_jog"
            android:parentActivityName="com.agilesumo.runjogwalk.WorkoutActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.agilesumo.runjogwalk.WorkoutActivity" />
        </activity>
            
        <activity
            android:name="com.agilesumo.runjogwalk.EditWalkActivity"
            android:label="@string/title_activity_edit_walk"
            android:parentActivityName="com.agilesumo.runjogwalk.WorkoutActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.agilesumo.runjogwalk.WorkoutActivity" />
            
        </activity>
        
          <activity
            android:name="com.agilesumo.runjogwalk.WorkoutTimerActivity"
            android:label="@string/title_activity_workout_timer"
            android:parentActivityName="com.agilesumo.runjogwalk.WorkoutActivity" 
            android:launchMode="singleTop" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.agilesumo.runjogwalk.WorkoutActivity" />

        </activity>
        
                 
          <activity
            android:name="com.agilesumo.runjogwalk.SettingsActivity"
            android:label="@string/action_settings">
          
        </activity>
        
        <activity
            android:name="com.agilesumo.runjogwalk.SettingsAPI11PlusActivity"
            android:label="@string/action_settings">
        </activity>
        
    </application>

</manifest>
